.login__logo{
width: 250px;

}

.login{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container{
    display: flex;
    flex-direction: column;
   align-items: center;
  width: 300px;
}

.login__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login__button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(233, 175, 98);
    border: none;
    height: 30px;
}
.login__register{
    border: none;
    background-color: rgb(207, 205, 203);
    height: 30px;
    margin-top:20px
}