.subtotal{
    background-color: rgb(212, 211, 211);
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 110px;
   
}
.subtotal__button{
    background-color: rgb(241, 166, 112);
  border:none;
    height: 50px;
    margin-top: 8px;
    min-width:300px;
}

.subtotal__total{
    margin-bottom: 10px;
}